<div class="row border-1 border rounded-1 w-75 m-auto m-0 p-0">
    <div class="col-12 col-lg-4">
        <img src="./template.jpg" class="img-fluid p-1 ">
    </div>
    <div class="col p-2">

        <div class="p-2 m-1 px-3">
            <div class="mb-1">
                Name
            </div>
            <div class="mb-1">
                <span>Created At:</span>
                <span>17/12.2021</span>
            </div>
            <div>
                <span class="btn btn-primary">ReadMore</span>
                <span class="btn btn-warning">UnSave</span>
            </div>
        </div>
    </div>
</div>