@model IEnumerable<FriendViewModel>
<h1>Still In Active Development</h1>

<div class='d-block m-auto'>
    @foreach(var i in Model){
    <div class="row border-1 border rounded-1 w-75 m-auto m-0 p-0">
        <div class="col-12 col-lg-4">
            <img src="./template.jpg" class="img-fluid p-1 ">
        </div>
        <div class="col p-2">

            <div class="p-2 m-1 px-3">
                <div class="mb-1">
                    <a asp-action="Index" asp-controller="Profile" asp-route-id=@i.Profile_Id
                        class="text-decoration-none text-dark">@i.Profile_Name</a>
                </div>
                <div>
                    <a asp-action="Confirm" asp-controller="Friend" asp-route-id=@i.Sender_UserId
                        class='btn btn-primary'>Confirm</a>
                    <a asp-action="Cencel" asp-controller="Friend" asp-route-id=@i.Id class="btn btn-warning">Cencel</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>